.delete__container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(80, 80, 80, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal {
  position: absolute;
  z-index: 3;
  top: calc(10vh + 5px);
  padding: 20px 30px;
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
}

.btn__group {
  margin-top: 30px;
  float: right;
}

.btn__group button {
  background-color: transparent;
  border: 1px solid #000000;
  width: 80px;
  padding: 5px 0;
}

.btn__group button:first-child {
  margin-right: 15px;
}
