.container {
  position: relative;
  width: 100%;
  border: 1px solid #b8b6b6;
  margin-bottom: 20px;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #000000;
  color: #ffffff;
}

.post__title {
  max-width: 75%;
  font-weight: bold;
  font-size: 17px;
}

.icons__group svg {
  display: inline-block;
  vertical-align: bottom;
}

.icons__group svg:first-child {
  margin-right: 10px;
}

.post__main_section {
  padding: 17px 20px;
}

.post__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #808080;
}

.post__author {
  font-weight: bold;
}

.post__content {
  margin-top: 20px;
  white-space: pre-line;
}

@media only screen and (min-width: 768px) {
  .icons__group svg:first-child {
    margin-right: 30px;
  }
}
